@model IEnumerable<OdeToFood.Models.RestarauntReview>

@{
    ViewData["Title"] = "Home Page";
}

<h1>The latest reviews</h1>
<p>We are showing the latest @Model.Count() Reviews.</p>

@foreach (var item in Model)
{
    <div class="review">
        <h4>@item.Name</h4>
        <span>@item.Rating</span>
        <p>@item.City, @item.Country</p>
    </div>
}